.bgImage {
  height: 100vh;
  background: url('https://poster.nicefon.ru/2016_10/30/1080x610/1676644040d0606068e8e8.jpg') transparent;
  background-size: cover;
  background-position: center;

  .wrap {
    height: 100%;
    background-color: #100d1dc2;
  }
}