* {
  margin: 0;
  padding: 0;
}
/* common styles */

.customBtn {
  background-color: #ffffff33;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  color: white;
  transition: ease-out .1s;
  &:active {
    // background-color: darken(#ffffff33, 20%);
    color: #dadada;
  }
  color: #ffffff1a
}